Dataframe from Dictionary:

In [2]:

import pandas as pd

df1 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],
  'Product Name': ['t-shirt','t-shirt','skirt','skirt'],
  'Color': ['blue','green','red','black']
  # add Product Name and Color here
})

print(df1)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black

Dataframe from list:

In [5]:
import pandas as pd

df2 = pd.DataFrame([
  [1, 'San Diego', 100],
  [2, 'Los Angeles', 120],
  [3, 'San Francisco', 90],
  [4, 'Sacramento', 115],

],
  columns=["Store ID", "Location", "Number of Employees"
  ])
print(df2)

   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115

In [ ]:
Data from a table in csv format:
    
name,cake_flavor,frosting_flavor,topping
Chocolate Cake,chocolate,chocolate,chocolate shavings
Birthday Cake,vanilla,vanilla,rainbow sprinkles
Carrot Cake,carrot,cream cheese,almonds

In [ ]:
Loading and Saving csv file:
    
df = pd.read_csv('sample.csv')
print(df)

df = pd.to_csv('new-csv-file.csv')
print(df)

In [ ]:
Inspect a DataFrame:
    
df.head() - gives the first 5 rows of a DataFrame.
df.info() - gives some statistics for each column.

In [ ]:
Select Columns:
    
df.MySecondColumn - If the name of a column follows all of the rules for a variable name 
(doesn’t start with a number, doesn’t contain spaces or special characters, etc.) 
    
To select a single column:
clinic_north = df.clinic_north
   
To select multiple columns:
new_df = orders[['last_name', 'email']]

PS: Note there are two square brackets.

In [7]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

clinic_north = df.clinic_north
print(type(clinic_north))

print(type(df))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [9]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

clinic_north_south = df[['clinic_north', 'clinic_south']]
print(type(clinic_north_south))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
Select Rows:

Syntax: df.iloc[]

In [6]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])
  
march = df.iloc[columnnumber]
print(march)

month           March
clinic_east        81
clinic_north       96
clinic_south       65
clinic_west        96
Name: 2, dtype: object

In [ ]:
Select Multiple Rows:
Syntax: df.iloc[r1:r2]

example:
df.iloc[3:7] would select all rows starting at the 3rd row and up to but 
not including the 7th row (i.e., the 3rd row, 4th row, 5th row, and 6th row)

df.iloc[:4] would select all rows up to, but 
not including the 4th row (i.e., the 0th, 1st, 2nd, and 3rd rows)

df.iloc[-3:] would select the rows starting at the 3rd to last row 
and up to and including the final row

In [10]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

april_may_june = df.iloc[3:7]
print(april_may_june)

   month  clinic_east  clinic_north  clinic_south  clinic_west
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129

In [ ]:
Select Rows with Logic I

df[df.MyColumnName == desired_column_value]

Suppose we want to select all rows where the customer’s age is 30. We would use:
df[df.age == 30]

Greater Than, > — Here, we select all rows where the customer’s age is greater than 30:
df[df.age > 30]

Less Than, < — Here, we select all rows where the customer’s age is less than 30:
df[df.age < 30]

Not Equal, != — This snippet selects all rows where the customer’s name is not Clara Oswald:
df[df.name != 'Clara Oswald']

In [11]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

january = df[df.month == 'January']
print(january)

     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100

In [ ]:
Select Rows with Logic II

For instance, suppose we wanted to select all rows where the customer’s age was under 30 
or the customer’s name was “Martha Jones”:

df[(df.age < 30) | (df.name == 'Martha Jones')]

In Python, | means “or” and & means “and”.

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])
          
march_april = df[(df.month == 'March') | (df.month == 'April')]
print(march_april)

In [ ]:
Select Rows with Logic III

We could use the isin command to check that df.name is one of a list of values:

df[df.name.isin(['Martha Jones','Rose Tyler','Amy Pond'])]

In [12]:
f = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

january_february_march = df[df.month.isin(['January',
     'February',
     'March'])]

print(january_february_march)

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96

In [ ]:
Setting indices:

If we use the command df.reset_index(), we get a new DataFrame with a new set of indices.

First Name	Last Name
0	John	Smith
4	Jane	Doe
7	Joe	Schmo

Note that the old indices have been moved into a new column called 'index'. 
Unless you need those values for something special, it’s probably better to use the keyword drop=True 
so that you don’t end up with that extra column. 

	index	First Name	Last Name
0	0	John	Smith
1	4	Jane	Doe
2	7	Joe	Schmo

If we run the command df.reset_index(drop=True), we get a new DataFrame that looks like this:

    First Name	Last Name
0	John	Smith
1	Jane	Doe
2	Joe	Schmo

In [13]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

df2 = df.loc[[1, 3, 5]]
print(df2)

df3 = df2.reset_index

df3 = df2.reset_index(inplace=True , drop=True)

      month  clinic_east  clinic_north  clinic_south  clinic_west
1  February           51            45           145           45
3     April           80            80            54          180
5      June          112           109            79          129

In [ ]:
Calculating Column Statistics:

The general syntax for these calculations is:

df.column_name.command()